<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>News Article</title>
    </head>

    <body>

        <header>
            <div class="">
                Regina Philange
            </div>
            <div class="">
                Welcome to the website!
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Text to analyze">
                    <input type="submit" name="" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Your Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Credits go to alyien API</p>
        </footer>
    </body>
</html>
