<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>News Article</title>
    </head>

    <body>

        <header>
            <div class="website-name">
                Regina Philange
            </div>
            <div class="welcome">
                Welcome to the website!
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Text to analyze">
                    <input type="submit" name="" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Your Results:</strong>
                <div id="results">
                    <div id="polarity"></div>
                    <div id="subjectivity"></div>
                    <div id="confidence"></div>
                </div>
            </section>
        </main>

        <footer class="ft">
            <p>Credits go to MeaningCloud API</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
